#div_block-30-6 {
   width: 100px;
   background-color: #f44646;
   height: 100px;
}

@font-face {
   font-family: font-round-bold;
   src: url(../fonts/Helvetica_Rounded_LT_Black.ttf);
}

@font-face {
   font-family: font-round-normal;
   src: url(../fonts/Helvetica_Rounded_LT_Bold.ttf);
}


body {
   margin: 0px;
   font-family: 'font-round-normal';
   color: #2a2a2a;

}

/* #div_fundo {
   justify-items: center;
   align-items: end;
   grid-template-columns: repeat(3, minmax(0px, 1fr));
   grid-column-gap: 16px;
   grid-row-gap: 16px;
   grid-auto-rows: minmax(min-content, 1fr);
   width: auto;
   height: auto;
   background-color: #195e1d87;
   border-radius: 22px;
   text-align: center;
   align-items: center;
   justify-content: center;
   display: grid;
   padding-left: 26px;
   padding-right: 26px;
   padding-top: 26px;
   padding-bottom: 26px;
   /* teste fundo do figma */

/* } */



.rectangle-ceu,
.rectangle-ceu * {
   box-sizing: border-box;
}

.rectangle-ceu {
   background: linear-gradient(13.35deg,
         rgba(20, 185, 255, 1) 0%,
         rgba(72, 224, 250, 1) 38.0013108253479%,
         rgba(112, 255, 246, 1) 67.9948091506958%,
         rgba(208, 255, 252, 1) 100%);
   border-radius: 6px;
   width: 261.21px;
   height: 462.08px;
   position: relative;
   transform-origin: 0 0;
   transform: rotate(0deg) scale(1, 1);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}


/* #div_block-5-6 {
   width: 100px;
   background-color: #f44646;
   height: 100px;
} */

.card-box {
   width: 100px;
   height: 100px;
   border-radius: 16px;
   border-top-color: #ffd3d3;
   border-right-color: #ffd3d3;
   border-bottom-color: #ffd3d3;
   border-left-color: #ffd3d3;
   border-top-width: 1px;
   border-right-width: 1px;
   border-bottom-width: 1px;
   border-left-width: 1px;
   background-color: #f44646;
}

.logo-menu-fonny {
   transform: scale(0.5, 0.5);
}

.texto-menu-jogue {
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-content: center;
   text-align: center;
   margin-top: 16px;
   margin-bottom: 16px;
   font-size: 22px;
   line-height: 24px;
   text-shadow: 1px 1px 9px white;
}

.botao-iniciar {
   /* background: url(..\images\menu\comecar-botao.png) no-repeat; */

   width: 63%;
   background-color: #f44646;
   height: 44px;
   border-radius: 55px;
   margin-top: 55px;
   margin-bottom: 36px;
   cursor: pointer;
}

.comecar-botao {
   transition-duration: 1s;
   transform: scale(0.5, 0.5);
   cursor: pointer;
}

.comecar-botao:hover {
   transform: scale(0.57, 0.57);
   cursor: pointer;
}

.creditos {
   display: flex;
   font-size: 8px;
   justify-content: center;
}

.a2 {
   height: 100vh;
   padding-top: 0;
   padding-right: 0;
   padding-bottom: 0;
   padding-left: 0;
   display: flex;
   margin-top: 32px;

   flex-direction: column;
   align-items: center;
   justify-content: center;
   justify-content: flex-start;
}